@import "../__consts.scss";
@import "../__mixins.scss";

.faq {
    .container {
        flex-direction: column;
        background: 
            url("../../img/faq/flwrs.png") right top no-repeat,
            url("../../img/faq/blue-1.png") left top no-repeat,
            url("../../img/faq/blue-2.png") right top no-repeat,
            url("../../img/faq/blue-3.png") left bottom no-repeat,
            url("../../img/faq/blue-4.png") right bottom no-repeat;
        padding: 50px 0 100px 0;
        .display-none {
            display: none;
        }
        h6 {
            margin-left: 15px;
        }
        h2 {
            margin-left: 170px;
            margin-bottom: 50px;
        }
        .faq-wrapper {
            @include flex(column);
            margin-left: 170px;
            max-width: 830px;
            width: 100%;
            .faq-item {
                padding: 20px;
                border: 1px solid $main-green;
                margin-bottom: 10px;
                h3 {
                    color: $main-green;
                    text-transform: uppercase;
                    cursor: pointer;
                }
                p {
                    margin-top: 30px;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .faq{
        .container {
            padding: 50px 10px;
            h2 {
                margin: 0 auto;
                padding-bottom: 40px;
            }
            .faq-wrapper {
                margin: 0 auto;
                h3 {
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 470px) {
    .faq {
        .container {
            flex-direction: column;
            background: 
                url("../../img/faq/flwrs-mobile.png") right top no-repeat,
                url("../../img/faq/blue-1.png") left top no-repeat,
                url("../../img/faq/blue-2.png") right top no-repeat,
                url("../../img/faq/blue-3.png") left bottom no-repeat,
                url("../../img/faq/blue-4.png") right bottom no-repeat;
        }
    }
}