@import "../__consts.scss";

.error-404 {
    background: 
        url("../../img/404/404-blue-1.png") 10% 93px no-repeat,
        url("../../img/404/404-blue-2.png") 100% 293px no-repeat,
        url("../../img/404/404-blue-3.png") right top no-repeat,
        url("../../img/404/0.png") 40% 215px no-repeat,
        url("../../img/404/4.png") 52% 30px no-repeat,
        url("../../img/404/404-main.png") left -83px no-repeat,
        url("../../img/404/4.png") 28% 36px no-repeat;
    .container {
        max-width: 1800px;
        .back {
            margin-left: auto;
            padding: 355px 230px 500px 300px;
            text-transform: uppercase;
            p {
                margin: 20px 0;
            }
            a {
                color: $main-green;
            }
            a:hover {
                color: $hover;
                transition: 0.7s all;
            }
        }
    }
}

@media (max-width: 1600px) {
    .error-404 {
        background: 
            url("../../img/404/404-blue-1.png") 10% 93px no-repeat,
            url("../../img/404/404-blue-2.png") 100% 293px no-repeat,
            url("../../img/404/404-blue-3.png") right top no-repeat,
            url("../../img/404/0.png") 38% 215px no-repeat,
            url("../../img/404/4.png") 57% 30px no-repeat,
            url("../../img/404/404-main.png") left -83px no-repeat,
            url("../../img/404/4.png") 20% 36px no-repeat;
    }
}

@media (max-width: 1400px) {
    .error-404 {
        background: 
            url("../../img/404/404-blue-1.png") 10% 93px no-repeat,
            url("../../img/404/404-blue-2.png") 100% 293px no-repeat,
            url("../../img/404/404-blue-3.png") right top no-repeat,
            url("../../img/404/0.png") 35% 215px no-repeat,
            url("../../img/404/404-main.png") left -83px no-repeat,
            url("../../img/404/4.png") 15% 30px no-repeat,
            url("../../img/404/4.png") 55% 36px no-repeat;
    }
}

@media (max-width: 1200px) {
    .error-404 {
        background: 
            url("../../img/404/404-blue-1.png") 10% 93px no-repeat,
            url("../../img/404/404-blue-2.png") 170% 293px no-repeat,
            url("../../img/404/404-blue-3.png") right top no-repeat,
            url("../../img/404/0.png") 35% 215px no-repeat,
            url("../../img/404/404-main.png") left -83px no-repeat,
            url("../../img/404/4.png") 5% 30px no-repeat,
            url("../../img/404/4.png") 65% 36px no-repeat;
    }
}

@media (max-width: 992px) {
    .error-404 {
        background: 
            url("../../img/404/404-blue-1.png") 10% 93px no-repeat,
            url("../../img/404/404-blue-2.png") 170% 293px no-repeat,
            url("../../img/404/404-blue-3.png") right top no-repeat,
            url("../../img/404/0.png") 40% 215px no-repeat,
            url("../../img/404/4.png") 70% 30px no-repeat,
            url("../../img/404/404-main.png") 40% -170px no-repeat,
            url("../../img/404/4.png") 5% 36px no-repeat;
        .container {
                .back {
                    padding: 450px 200px 290px 0;
                }
        }
    }
}

@media (max-width: 768px) {
    .error-404 {
        background: 
            url("../../img/404/404-blue-1.png") 10% 93px no-repeat,
            url("../../img/404/404-blue-2.png") 170% 93px no-repeat,
            url("../../img/404/404-blue-3.png") right top no-repeat,
            url("../../img/404/mobile-0.png") 36% 153px no-repeat,
            url("../../img/404/mobile-4.png") 60% 80px no-repeat,
            url("../../img/404/404-main.png") 40% -50px no-repeat,
            url("../../img/404/mobile-4.png") 12% 46px no-repeat;
        .container {
                .back {
                    margin-left: auto;
                    padding: 360px 50px 400px 0;
                    text-transform: uppercase;
                    font-size: 16px;
                    p {
                        margin: 5px 0;
                    }
                }
        }
    }
}

@media (max-width: 476px) {
    .error-404 {
        background: 
        url("../../img/404/404-blue-1.png") 10% 93px no-repeat,
        url("../../img/404/404-blue-2.png") 100% 293px no-repeat,
        url("../../img/404/404-blue-3.png") right top no-repeat,
        url("../../img/404/mobile-0.png") 40% 153px no-repeat,
        url("../../img/404/mobile-4.png") 75% 60px no-repeat,
        url("../../img/404/404-main.png") 50% -20px no-repeat,
        url("../../img/404/mobile-4.png") 5% 30px no-repeat;
    }
}