@import "../__consts.scss";

.error {
    .container {
        max-width: 1800px;
        background: 
            url("../../img/404/404-blue-1.png") 10% 93px no-repeat,
            url("../../img/404/404-blue-2.png") 100% 293px no-repeat,
            url("../../img/404/404-blue-3.png") right top no-repeat,
            url("../../img/404/0.png") 40% 193px no-repeat,
            url("../../img/404/4.png") 57% 10px no-repeat,
            url("../../img/404/404-main.png") 20% -83px no-repeat,
            url("../../img/404/4.png") 24% 6px no-repeat;
        .back {
            margin-left: auto;
            padding: 500px 300px;
            text-transform: uppercase;
            p {
                margin: 20px 0;
            }
            a {
                color: $main-green;
            }
            a:hover {
                color: $hover;
                transition: 0.7s all;
            }
        }
    }
}

@media (max-width: 1600px) {
    .error {
        .container {
            max-width: 1800px;
            background: 
                url("../../img/404/404-blue-1.png") 10% 93px no-repeat,
                url("../../img/404/404-blue-2.png") 100% 293px no-repeat,
                url("../../img/404/404-blue-3.png") right top no-repeat,
                url("../../img/404/0.png") 38% 193px no-repeat,
                url("../../img/404/4.png") 57% 10px no-repeat,
                url("../../img/404/404-main.png") 20% -83px no-repeat,
                url("../../img/404/4.png") 20% 6px no-repeat;
        }
    }
}

@media (max-width: 1400px) {
    .error {
        .container {
            max-width: 1800px;
            background: 
                url("../../img/404/404-blue-1.png") 10% 93px no-repeat,
                url("../../img/404/404-blue-2.png") 100% 293px no-repeat,
                url("../../img/404/404-blue-3.png") right top no-repeat,
                url("../../img/404/0.png") 35% 193px no-repeat,
                url("../../img/404/404-main.png") 20% -83px no-repeat,
                url("../../img/404/4.png") 15% 6px no-repeat,
                url("../../img/404/4.png") 55% 10px no-repeat;
        }
    }
}

@media (max-width: 1200px) {
    .error {
        .container {
            max-width: 1800px;
            background: 
                url("../../img/404/404-blue-1.png") 10% 93px no-repeat,
                url("../../img/404/404-blue-2.png") 170% 293px no-repeat,
                url("../../img/404/404-blue-3.png") right top no-repeat,
                url("../../img/404/0.png") 35% 193px no-repeat,
                url("../../img/404/404-main.png") 20% -83px no-repeat,
                url("../../img/404/4.png") 5% 6px no-repeat,
                url("../../img/404/4.png") 65% 10px no-repeat;
        }
    }
}

@media (max-width: 992px) {
    .error {
        .container {
            max-width: 1800px;
            background: 
                url("../../img/404/404-blue-1.png") 10% 93px no-repeat,
                url("../../img/404/404-blue-2.png") 170% 293px no-repeat,
                url("../../img/404/404-blue-3.png") right top no-repeat,
                url("../../img/404/0.png") 40% 193px no-repeat,
                url("../../img/404/4.png") 70% 10px no-repeat,
                url("../../img/404/404-main.png") 30% -170px no-repeat,
                url("../../img/404/4.png") 5% 6px no-repeat;
                .back {
                    margin-left: auto;
                    padding: 700px 200px 40px 0;
                    text-transform: uppercase;
                }
        }
    }
}

@media (max-width: 768px) {
    .error {
        .container {
            max-width: 1800px;
            background: 
                url("../../img/404/404-blue-1.png") 10% 93px no-repeat,
                url("../../img/404/404-blue-2.png") 170% 93px no-repeat,
                url("../../img/404/404-blue-3.png") right top no-repeat,
                url("../../img/404/mobile-0.png") 36% 153px no-repeat,
                url("../../img/404/mobile-4.png") 60% 80px no-repeat,
                url("../../img/404/404-main.png") 50% -50px no-repeat,
                url("../../img/404/mobile-4.png") 12% 46px no-repeat;
                .back {
                    margin-left: auto;
                    padding: 800px 50px 40px 0;
                    text-transform: uppercase;
                    font-size: 16px;
                    p {
                        margin: 5px 0;
                    }
                }
        }
    }
}

@media (max-width: 476px) {
    .error {
        .container {
            max-width: 1800px;
            background: 
                url("../../img/404/404-blue-1.png") 10% 93px no-repeat,
                url("../../img/404/404-blue-2.png") 100% 293px no-repeat,
                url("../../img/404/404-blue-3.png") right top no-repeat,
                url("../../img/404/mobile-0.png") 40% 153px no-repeat,
                url("../../img/404/mobile-4.png") 75% 60px no-repeat,
                url("../../img/404/404-main.png") 50% -20px no-repeat,
                url("../../img/404/mobile-4.png") 5% 30px no-repeat;
        }
    }
}