@import "../__mixins.scss";
@import "../__consts.scss";

.first-look {
    @include flex(column, center);
    padding: 50px 0;
    background: 
        url("../../img/main/first-look/green.png") -10% 122px no-repeat,
        url("../../img/main/first-look/pink-img.png") right 60px no-repeat,
        url("../../img/main/first-look/main-img.png") center/cover no-repeat fixed;
    min-height: 100vh;
    .container {
        .catalog-ref {
            @include flex(column, center, center);
            margin: 0 auto;
            .main-logo {
                font-family: 'Cormorant', serif;
                font-size: 180px;
                line-height: 240px;
                font-weight: 300;
                text-align: center;
                text-transform: uppercase;
            }
            p {
                margin-bottom: 50px;
            }
        }
    }
}

@media (max-width: 992px) {
    .first-look {
        background: 
            url("../../img/main/first-look/green-img.png") 0 100px no-repeat,
            url("../../img/main/first-look/pink-img.png") 95% 150px no-repeat,
            url("../../img/main/first-look/main-img.png") center/cover no-repeat fixed;
        .container {
            .catalog-ref {
                .main-logo {
                    font-size: 150px;
                    line-height: 210px;
                }
                p {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .first-look {
        background: 
            url("../../img/main/first-look/mobile-green-img.png") -45% 100px no-repeat,
            url("../../img/main/first-look/mobile-pink-img.png") 110% 300px no-repeat,
            url("../../img/main/first-look/main-mobile.png") center/cover no-repeat fixed;
        .container {
            .catalog-ref {
                .main-logo {
                    font-size: 50px;
                    line-height: 60px;
                }
                p {
                    margin-bottom: 30px;
                }
            }
        }
    }
}
