@import "__mixins.scss";
@import "__consts.scss";

form {
    @include flex(column);
    input {
        padding: 10px;
        border: 1px $main-green solid;
        margin: 20px 0;
        background: transparent;
    }
    textarea {
        resize: none;
        padding: 10px;
        border: 1px $main-green solid;
        margin: 20px 0;
        width: 100%;
        height: 100px;
        background: transparent;
    }
}

@media (max-width: 768px) {
    form {
        margin: 0 10px;
    }
}