@import "__mixins.scss";
@import "__consts.scss";

form {
    @include flex(column);
    input {
        padding: 10px;
        border: 1px $main-green solid;
        margin: 20px 0;
        background: transparent;
    }
    textarea {
        resize: none;
        padding: 10px;
        border: 1px $main-green solid;
        margin: 20px 0;
        width: 100%;
        height: 100px;
        background: transparent;
    }
}

.filter-form {
    @include flex(column);
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 20px;
    .filter-item {
        @include flex(column);
        margin-bottom: 20px;
        h5 {
            color: $main-green;
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 5px;
            text-transform: uppercase;
        }
        .form-item {
            position: relative;
            input[type=checkbox] {
                position: absolute;
                opacity: 0;
                margin: 0;
                left: 0;
                bottom: 0;
            }
            label {
                font-weight: 300;
                font-size: 12px;
                line-height: 18px;
                text-transform: uppercase;
                padding: 5px 0;
            }
            label::before {
                content: '';
                display: inline-block;
                width: 12px;
                height: 12px;
                border: 0.5px solid $white-main;
                border-radius: 2px;
                margin-right: 6px;
            }
            input[type=checkbox]:checked+label::before {
                background: $main-green;
                border: 0.5px solid $main-green;
            }
        }

    }
}

@media (max-width: 768px) {
    form {
        margin: 0 10px;
    }
}
